@tailwind base;
@tailwind components;
@tailwind utilities;


/* *************************BUTTON CLASSES ***************************** */
.btn1 {
  border: 1px solid #79AA00;
  background-color: #fffcfc;
  width: 100%;
  max-width: 95%;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.btn2 {
  border: 1px solid #79AA00;
  background-color: #79AA00;
  color: white;
  width: 100%;
  max-width: 95%;
  margin: 5% auto 0 auto;
  padding: 10px 0 10px 0;
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

/* *************************BUTTON MEDIA QUARIES***************************** */
@media screen and (min-width: 768px) {
  .btn2 {
    max-width: 50%;
    margin: 2% auto 0 auto;
  }
  .btn1 {
    max-width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .btn2 {
    max-width: 35%;
  }
  .btn1 {
    max-width: 35%;
  }
}
